<div class="total">
    <div class="head">
    <img class="dog" src="./../../assets/img/logo.png" alt="Pet Shop" height="100" id="dog">
    <h1>Diamond Dogs Pet Shop</h1>
    </div>
  </div>
    <!-- <div class="selector"> -->
      <div class="one"><a class="one" href="#"><img src="./../../assets/img/home.png" height="25px" style="position: absolute; left: 25%;"></a></div>
      <div class="two"><a class="two" href="#"><p>Serviços</p></a></div>
      <div class="three"><a class="three" href="#"><p>Produtos</p></a></div>
      <div class="four"><a class="four" href="#"><p class="galeria">Galeria</p></a></div>
      <div class="five"><a class="five" href="#"><p>Contatos</p></a></div>
    <!-- </div> -->
