.head{
    background-color: #000000;
    /* left: 200px; */
    width: 100%;
  }
  
  h1{
    color: #ffffff;
    position: absolute;
    top: 1%;
    left: 20vh;
  
    z-index: 2;
    font-family: Helvetica ;
  }
  
  .dog{
    position: relative;
    left: 5vh;
  }

  a.one{
    color: #ffffff;
    text-decoration: none;
  }
  
  a.two{
    color: #ffffff;
    text-decoration: none;
  }
  
  a.three{
    color: #ffffff;
    text-decoration: none;
  }
  
  a.four{
    color: #ffffff;
    text-decoration: none;
  }
  
  a.five{
    color: #ffffff;
    text-decoration: none;
  }
  
  
  
  div.one{
    background-color: #ff8419;
    height: 0%;
    width: 4vh;
    position: fixed;
    padding: 1px;
    /* top: 5%; */
    left: 5vh;
    /* transform-origin: bottom; */
    transition: all .1s linear;
  }
  
  div.two{
    background-color: #d84b00;
    height: 0%;
    width: 10vh;
    position: fixed;
    padding: 1px;
    left: 10vh;
    /* top: 130px; */
    transition: all .1s linear;
  }
  
  div.three{
    background-color: #438700;
    height: 0%;
    width: 10vh;
    position: fixed;
    padding: 1px;
    left: 21vh;
    /* top: 130px; */
    transition: all .1s linear;
  }
  
  div.four{
    background-color: #6bd800;
    height: 0%;
    width: 10vh;
    position: fixed;
    padding: 1px;
    left: 32vh;
    /* top: 130px; */
    transition: all .1s linear;
  }
  
  div.five{
    background-color: #d800ca;
    height: 0%;
    width: 10vh;
    position: fixed;
    padding: 1px;
    left: 43vh;
    /* top: 130px; */
    transition: all .1s linear;
  }
  
  div.one:hover{
    height: 3vh;
  }
  
  div.two:hover{
    height: 3vh;
  }
  
  div.three:hover{
    height: 3vh;
  }
  
  div.four:hover{
    height: 3vh;
  }
  
  div.five:hover{
    height: 3vh;
  }
  
  p{
    font-family: Helvetica;
    position: relative;
    bottom: 10px;
    left: 10%;
    font-size: auto;
  
  }