
    

<br><br><br>
    <!-- <div class="fundo"> -->
      <br><br><br><br><br><br>
      <div class="texto">
      <h3>

        <img src="./../../assets/img/dd.png" alt="D.D." height="150" style="float: left"  id="dog2">
        Mussum Ipsum, cacilds vidis litro abertis. Per aumento de cachacis, eu reclamis.
        Quem num gosta di mé, boa gentis num é. Posuere libero varius.
        Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi.
        Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose.

        Si u mundo tá muito paradis? Toma um mé que o mundo vai girarzis!
        Todo mundo vê os porris que eu tomo, mas ninguém vê os tombis que eu levo!
        Viva Forevis aptent taciti sociosqu ad litora torquent.

        Todo mundo vê os porris que eu tomo, mas ninguém vê os tombis que eu levo!
        Praesent vel viverra nisi. Mauris aliquet nunc non turpis scelerisque, eget.
        Aenean aliquam molestie leo, vitae iaculis nisl. Mé faiz elementum girarzis,
        nisi eros vermeio.
      </h3>
      </div>
      <br><br><br><br><br><br>

      
    