<h1>{{teste}}</h1>
<img [src]='imagem' [style]=totalxy>
<h1>{{testes}}</h1>

<button (click)='clickButton()'>Exibir</button>

<br><br>
    <input type="text" id='txt1' [value]=true1>
    <input type="text" id='txt2' [value]=true2>
    <button (click)='invertext()'>do it</button>
<br><br>
<br><br>

<app-esquerdo [Numero]=numbahtwho></app-esquerdo>
<app-direito (definirTexto)=filhoProdigo($event)></app-direito>

<input type="text" id="txtz" [value]=tecc (input)='disparar($event)'>
<input type="text" [value]=tecsto>